body{
    background-image:url("../../images/listagens/fundo.svg");
    margin: top 400px;
    margin-left: 20px;
    
  }


  .titulo {
    margin-top: 10px;
    margin-bottom: 30px;
    color: #1272cb;
  }
  
  thead {
    background-color: #0084ce;
    color: #fff;
    height: 50px;
  }
  
  h1 {
    font-size: 48px;
    border-bottom: 8px solid black;
    text-align: center;
  }
  
  tbody {
    height: 30px;
  }
  